mixin markdown(text)
    | !{ self.md(text) }

- const title = self.title ? `${self.title} · ${self.siteTitle}` : self.siteTitle

doctype html
html(lang=self.locale)
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        base(href='/')
        //- base(href='/unicorn/')

        link(href='./style.css', rel='stylesheet')

        title= title
    body
        .h-96.bg-cover.bg-center.content-center.flex.items-center(style={ 'background-image': `url(${self.image})`})
            .mx-auto.px-4.prose.md_prose-md.dark_prose-invert.prose-h2_mb-2.prose-li_my-0.prose-img_rounded-xl
                if self.title
                    h1.drop-shadow-lg.shadow-black(class={ '!mb-0': self.subtitle })= self.title
                if self.subtitle
                    .mb-10.font-bold.text-2xl.text-white.drop-shadow-lg.shadow-black(class='!mt-0')= self.subtitle

        article.my-8.mx-auto.px-4.prose.md_prose-md.dark_prose-invert.prose-h2_mb-2.prose-li_my-0.prose-img_rounded-xl
            block content

        .bg-green-50
            .mx-auto.py-12.px-4.prose.md_prose-md.dark_prose-invert.prose-h2_mb-2.prose-li_my-0.prose-img_rounded-xl
                block box

        .bg-red-100
            .mx-auto.py-12.px-4.prose.md_prose-md.dark_prose-invert.prose-h2_mb-2.prose-li_my-0.prose-img_rounded-xl
                h2.mt-0 NB!
                +markdown(self.boxDisclaimer)
