mixin markdown(text)
    | !{ self.md(text) }

- const title = self.title ? `${self.title} · ${self.siteTitle}` : self.siteTitle

doctype html
html(lang=self.locale)
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        base(href='/unicorn/')

        link(href='/style.css', rel='stylesheet')

        title= title
    body
        article.mx-auto.p-4.prose.md_prose-md.lg_prose-lg.dark_prose-invert
            block content
